# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# IDE/editor files
.idea/
.vscode/

# Local experiment data
data-grover/
*.h5

# Matplotlib/LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
